# Data Cleansing

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from pprint import pprint
from datetime import datetime

In [2]:
Chicago_TA = pd.read_csv("./Chicago_review_data.csv")
NYC_TA = pd.read_csv("./NYC_review_data.csv")
DC_TA = pd.read_csv("./DC_review_data.csv")

NYC_Yelp = pd.read_csv("./Newyork_yelp_review.csv", encoding="iso-8859-1")
DC_Yelp = pd.read_csv("./washington_review.csv", encoding="iso-8859-1")

In [3]:
# Add City name
Chicago_TA["City"] = "Chicago"
NYC_TA["City"] = "NYC"
DC_TA["City"] = "DC"
NYC_Yelp["City"] = "NYC"
DC_Yelp["City"] = "DC"

In [4]:
Merge_table_TA = Chicago_TA.append([NYC_TA, DC_TA])
Merge_table_TA["Review_Text"] = Merge_table_TA["Entry_Quote"] + " " + Merge_table_TA["Entry_Content"]
Merge_table_TA = Merge_table_TA.rename(columns={"Entry_Date": "Review_Date",
                                  "review_text":"Review_Text"})

Merge_table_TA.loc[Merge_table_TA["Stars"] == 1, "Class"] = "Negative"
Merge_table_TA.loc[Merge_table_TA["Stars"] == 2, "Class"] = "Negative"
Merge_table_TA.loc[Merge_table_TA["Stars"] == 3, "Class"] = "Neutral"
Merge_table_TA.loc[Merge_table_TA["Stars"] == 4, "Class"] = "Positive"
Merge_table_TA.loc[Merge_table_TA["Stars"] == 5, "Class"] = "Positive"

Merge_table_TA["Review_Source"] = "TripAdvisor"

Merge_table_TA = Merge_table_TA[['City', 'Stars', 'Class', 'Review_Source', 'Review_Date', 'Review_Text']]

Merge_table_TA.to_csv("Merge_table_TripAdvisor.csv", index=False)

Merge_table_TA.head()

,City,Stars,Class,Review_Source,Review_Date,Review_Text
0,Chicago,5,Positive,TripAdvisor,04/15/2019,Must do when in Chicago! We loved renting thes...
1,Chicago,1,Negative,TripAdvisor,03/08/2019,Dissapointed Very disappointed with Divvy Bike...
2,Chicago,1,Negative,TripAdvisor,02/25/2019,Dishonest company.. Terrible customer service ...
3,Chicago,5,Positive,TripAdvisor,02/12/2019,"Practical, eco-friendly transportation Awesome..."
4,Chicago,2,Negative,TripAdvisor,01/23/2019,Service has gone way down. Not reliable anymor...

In [5]:
Merge_table_TA.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 886 entries, 0 to 325
Data columns (total 6 columns):
City             886 non-null object
Stars            886 non-null int64
Class            886 non-null object
Review_Source    886 non-null object
Review_Date      886 non-null object
Review_Text      886 non-null object
dtypes: int64(1), object(5)
memory usage: 48.5+ KB

In [6]:
Merge_table_Yelp = NYC_Yelp.append(DC_Yelp)
Merge_table_Yelp = Merge_table_Yelp.drop(Merge_table_Yelp.columns[0], axis=1)
Merge_table_Yelp = Merge_table_Yelp.rename(columns={"review_ratings":"Stars",
                                  "review_date": "Review_Date",
                                  "review_text":"Review_Text"})

Merge_table_Yelp["Review_Date"] = pd.to_datetime(Merge_table_Yelp["Review_Date"], format='%m/%d/%Y').apply(lambda x: x.strftime('%m/%d/%Y'))

Merge_table_Yelp.loc[Merge_table_Yelp["Stars"] == 1, "Class"] = "Negative"
Merge_table_Yelp.loc[Merge_table_Yelp["Stars"] == 2, "Class"] = "Negative"
Merge_table_Yelp.loc[Merge_table_Yelp["Stars"] == 3, "Class"] = "Neutral"
Merge_table_Yelp.loc[Merge_table_Yelp["Stars"] == 4, "Class"] = "Positive"
Merge_table_Yelp.loc[Merge_table_Yelp["Stars"] == 5, "Class"] = "Positive"

Merge_table_Yelp["Stars"] = Merge_table_Yelp["Stars"].astype(np.int64)

Merge_table_Yelp["Review_Source"] = "Yelp"

Merge_table_Yelp = Merge_table_Yelp[['City', 'Stars', 'Class', 'Review_Source', 'Review_Date', 'Review_Text']]
    
Merge_table_Yelp.to_csv("Merge_table_Yelp.csv", index=False)

Merge_table_Yelp.head()

,City,Stars,Class,Review_Source,Review_Date,Review_Text
0,NYC,5,Positive,Yelp,05/27/2018,"It's not perfect, but I see Citibike as basica..."
1,NYC,1,Negative,Yelp,11/02/2018,Beware when signing up for the annual membersh...
2,NYC,1,Negative,Yelp,12/23/2018,This used to be a nice town. This use to be a ...
3,NYC,2,Negative,Yelp,04/23/2019,I think Citibike is a wonderful service for th...
4,NYC,1,Negative,Yelp,03/12/2019,Not happy to be charged extra for using the el...

In [7]:
Merge_table_Yelp.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 777 entries, 0 to 355
Data columns (total 6 columns):
City             777 non-null object
Stars            777 non-null int64
Class            777 non-null object
Review_Source    777 non-null object
Review_Date      777 non-null object
Review_Text      777 non-null object
dtypes: int64(1), object(5)
memory usage: 42.5+ KB